<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find</title>
    <link rel="stylesheet" href="/static/dash.css">
</head>
<body>
    <div class="dashboard">
        <header>
            <h1>Influencer's Dashboard</h1>
            <nav>
                <a href="/imain"><button>Info</button></a>
                <a href="/ifind"><button>Find</button></a>
                <a href="/logout"><button>Logout</button></a>
            </nav>
        </header>
        <main>
            <h2>Welcome {{user.iname}}</h2>
            
    <br>
    <form action="/search_sponsor" method="GET">
        <input type="text" name="query" placeholder="Search for sponsors...">
        <button type="submit">Search</button>
    </form>
    <h3>Searched Sponsors </h3>
    {% if sponsors %}
        <ul>
            {% for sponsor in sponsors %}
                <li>Sponsor's Name : {{ sponsor.sname }} - Industry : {{ sponsor.industry }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>Searched Campaigns </h3>
    {% if campaigns %}
        <ul>
            {% for campaign in campaigns %}
                <li>Campaign's Name : {{ campaign.cname }} Sponsor's Username : {{ campaign.sname }} Job : {{ campaign.job }} Budget : {{ campaign.budget }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>